<!DOCTYPE html>
<html lang="nl-Be">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto's</title>
</head>
<body>
    <h1>Auto's</h1>

    <ul id="car-list">
      <% for (const car of cars) { %>
        <li>
          <h2><%= car.make %> <%= car.model %></h2>
          <p><%= car.year %></p>
          <img src="<%= car.image %>" alt="<%= car.make %> <%= car.model %>">
          <a href="/cars/<%= car._id %>/edit">Edit</a>
        </li>
      <% } %>
    </ul>
</body>
</html>
